<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t.quotes_title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
   <header class="main-header">
        <img src="/image/logo.jpg" class="logo" alt="logo planete" />
        <h1 class="main-title"><%= t.quotes_title %></h1>
        <div class="slogan"><%= t.slogan || "Exprime-toi, partage, inspire !" %></div>

    </header>

    <% if (quote) { %>
        <blockquote>
            <p>"<%= quote %>"</p>
            <footer> <%= author %></footer>
        </blockquote>
    <% } else { %>
        <p><%= error %></p>
    
    <% } %>

    <!-- bouton pour recharger et avoir une nouvelle citation-->

    <form method="get" action="/<%=lang %>/quotes">
        <input type="text" name="q" placeholder="Search keyword (en)">
        <button type="submit"><%= t.search %></button>
        <button type="submit" name="random" value="1"><%= t.new_quote %></button>
    </form>

    <br>
    <!--lien de retour a l'acceuil -->
    <a href="/<%= lang %>"><%= t.back_home %></a>

    <footer>
        <small><%= t.credit_api %></small>
    </footer>
</body>
</html>